$color-primary: #7ed56f;
$color-primary-light: #333;
$color-primary-dark: #222;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #0046ff;
$color-tertiary-dark: #196095;

$color-danger-dark: #641515;
$color-positive-light: #7ed56f;

$color-grey-light: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

//Lato
//Light 300, Regular 400, Bold 700

$default-font-family: "Lato", sans-serif;

// Playfair Display
// Medium 500 , Bold 700 italic
$decor-font-family: "Playfair Display", serif;

$section-margin: 2rem;

$shadow-light-1: 0 3rem 6rem rgba(#000, 0.2);
$shadow-light-small-1: 0 1rem 2rem rgba(#000, 0.2);

$border-raduis-small: 5px;
