@use "abstracts/variables" as v;
@use "base/base";
@use "components/composition";
@use "components/button";
@use "components/featureBox";
@use "components/testimonial";
@use "components/bg-video";
@use "components/form";
@use "components/popup";
@use "layouts/footer";
@use "layouts/header";
@use "components/bg-outline";
@use "components/navigation";
@use "components/project-card";
@use "layouts/grid";

@use "abstracts/_functions";
@use "abstracts/_mixins";

@use "base/_animation";
@use "base/_typography";
@use "base/_utilities";

@use "pages/_home";
