@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.feature-box {
  display: flex;
  gap: 3rem;

  justify-content: center;
  max-width: 120rem;
  margin: auto;
  align-items: center;

  @include mix.respond(phone) {
    flex-direction: column;
    margin-top: 5rem;
  }
  &__double {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: clamp(20rem, 100%, 30rem);
    @include mix.respond(phone) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      width: auto;
    }
  }
}
.feature-box__card {
  position: relative;
  display: flex;
  height: 30rem;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: rgba(v.$color-white, 0.9);
  text-align: center;
  padding: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 2rem rgba(v.$color-black, 0.15);
  z-index: 1;
  transition: all 0.3s;
  @include mix.respond(phone) {
    width: 20rem;
  }

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }

  //better performance shadow with animating opacity
  &:hover::before {
    opacity: 1;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 30rem;
    z-index: -1000;

    box-shadow: 0 1.5rem 3rem rgba(v.$color-black, 0.1);
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  //Icon Styling
  &__icon {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
    fill: v.$color-secondary-dark;
  }
}
