@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;

.project-card {
  position: relative;
  display: flex;
  max-width: 120rem;
  margin: auto;
  overflow: hidden;
  height: 50rem;

  &:not(:last-of-type) {
    margin-bottom: 10rem;
  }
  @include mix.respond(phone) {
    flex-direction: column;
    height: auto;
  }

  //PROJECT IMAGE STYLING
  &__image-cointainer {
    flex: 1 1 auto;
    width: 100%;
    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }

  &__text {
    position: absolute;
    right: 0;
    width: clamp(40rem, 40%, 50rem);
    background-color: rgba(v.$color-black, 0.9);
    color: v.$color-grey-light;
    padding: 4rem;
    height: 100%;
    @include mix.respond(phone) {
      width: 100%;
      position: relative;
      padding: 3rem;
    }

    &__techno-list {
      transition: all ease 0.8s;
      list-style-type: none;
      display: flex;

      align-items: flex-start;

      &__item {
        position: relative;
        font-size: 2rem;
        font-weight: 300;
        margin-right: 2rem;
        white-space: nowrap;

        // border-bottom: solid 1px v.$color-secondary-light;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          border-bottom: solid 1px v.$color-secondary-light;
          width: 100%;
          height: 100%;
          transform: scaleX(0);
          transform-origin: left;
          transition: ease-in-out 0.3s all;
          // background-color: lightcoral;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
