@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;

.card {
  position: relative;
  padding: 2rem;
  height: 50rem;
  width: clamp(30rem, 15%, 100rem);
  -webkit-perspective: 150rem;
  perspective: 150rem;
  @include mix.respond(tab-land) {
    width: clamp(40rem, 25%, 50rem);
    padding: 0;
    margin-bottom: 5rem;
  }

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 2rem rgba(#000000, 0.1);
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease;

    &--front {
      background-color: v.$color-white;
    }
    &--back {
      transform: rotateY(-180deg);
      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-secondary-light, 1),
          rgba(v.$color-secondary-dark, 1)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-primary-light, 1),
          rgba(v.$color-primary-dark, 1)
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-tertiary-light, 1),
          rgba(v.$color-tertiary-dark, 1)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg) translateY(-1rem);
    z-index: 1;
  }
  &:hover &__side--back {
    transform: rotateY(0deg) translateY(-1rem);
    z-index: 10;
  }

  // FRONT SIDE STYLING
  //////////////////////////////
  &__picture {
    width: 100%;
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    &--1 {
      background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-secondary-light, 1),
          rgba(v.$color-secondary-dark, 1)
        ),
        url(../img/nat-5.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-primary-light, 1),
          rgba(v.$color-primary-dark, 1)
        ),
        url(../img/nat-6.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          rgba(v.$color-tertiary-light, 1),
          rgba(v.$color-tertiary-dark, 1)
        ),
        url(../img/nat-7.jpg);
    }
  }
  &__heading {
    width: 70%;
    margin-top: -9rem;
    margin-right: 2rem;
    margin-left: auto;
    margin-bottom: 3rem;
    z-index: 2;
    text-align: end;

    &__text {
      display: inline;
      padding: 1rem;

      font-size: 2.2rem;
      font-weight: 300;
      text-transform: uppercase;

      color: v.$color-white;

      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      &--1 {
        background: linear-gradient(
          to right bottom,
          rgba(v.$color-secondary-light, 0.8),
          rgba(v.$color-secondary-dark, 0.8)
        );
      }
      &--2 {
        background: linear-gradient(
          to right bottom,
          rgba(v.$color-primary-light, 0.8),
          rgba(v.$color-primary-dark, 0.8)
        );
      }
      &--3 {
        background: linear-gradient(
          to right bottom,
          rgba(v.$color-tertiary-light, 0.8),
          rgba(v.$color-tertiary-dark, 0.8)
        );
      }
    }
  }
  &__details {
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }
    li {
      // text-align: center;
      font-size: 1.5rem;
      padding: 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid v.$color-grey-light;
      }
    }
  }
  //BACK SIDE STYLING
  //////////////////////////////
  &-cta {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    color: v.$color-white;
    &__price__only {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: -2rem;
    }
    &__price__value {
      font-size: 6rem;
      font-weight: 100;
    }
  }
}

//BACK SIDE STYLING FOR MOBILE DEVICES
//////////////////////////////
@media (max-width: 56.25em), only screen and (hover: none) {
  .card {
    height: auto;
    &__heading {
      margin-top: -5rem;
    }
    &:hover &__side--front {
      transform: rotateY(1deg) translateY(-1rem);
      z-index: 1;
    }
    &__side {
      position: relative;

      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      padding-bottom: 4rem;
      &--front {
        padding-bottom: 6rem;
        margin-bottom: -4rem;
      }
      &--back.card__side {
        z-index: 10000;
        padding-top: 3rem;
        clip-path: polygon(0 3rem, 100% 0rem, 100% 70vh, 0% 100%);
        display: flex;
        height: 20%;
        flex-direction: column;
        transform: rotateY(0);
        padding-bottom: 2rem;
      }
    }
  }
}
