@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* makes box-sizing to be inherited */
}
html {
  @include mix.respond(big-desktop) {
    font-size: 75%;
  }
  @include mix.respond(tab-land) {
    font-size: 56.25%;
  }
  @include mix.respond(tab-port) {
    font-size: 50%;
  }

  font-size: 62.5%;
  height: 100vh;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: v.$color-grey-dark;

  box-sizing: border-box;
  @include mix.respond(tab-land) {
    padding: 0;
  }
}
