@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.heading-primary {
  color: v.$color-white;
  text-transform: uppercase;
  text-align: left;
  @include mix.respond(tab-land) {
    font-size: 56.25%;
  }

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 2rem;
    line-height: 5rem;

    animation-name: moveInLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out;
    margin-bottom: 3rem;
    /* animation-iteration-count: 3;
    animation-delay: 3s; */
    @include mix.respond(tab-port) {
      letter-spacing: 1rem;
      font-size: 4rem;
    }
    @include mix.respond(tab-port) {
      letter-spacing: 1rem;
      font-family: 3rem;
    }
  }
  &--sub {
    display: block;
    color: v.$color-secondary-light;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    margin-bottom: 3.5rem;
    animation: moveInRight 1.2s ease-out;
    @include mix.respond(tab-port) {
      letter-spacing: 0.3em;
      font-size: 1.4rem;
    }
  }
}
.heading-secondary {
  margin: auto;
  text-align: center;

  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    rgba(v.$color-grey-dark-4, 0.9),
    rgba(v.$color-grey-dark-4, 0.9)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
  letter-spacing: 2px;
  margin-bottom: 5rem;
  @include mix.respond(tab-port) {
    font-size: 2.5rem;
  }
  &:hover {
    transform: scale(1.1);
  }
  & > * {
    display: inline-block;
  }
}
.heading-tertiary {
  font-family: v.$decor-font-family;
  font-size: 1.6rem;

  font-weight: 700;
  margin-bottom: 1rem;
}
.paragraph {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.text-decor {
  &__text {
    font-size: 8rem;
    font-family: v.$decor-font-family;
    font-weight: 700;
    color: inherit;
    font-style: italic;
    z-index: 3;
    line-height: 7rem;
    @include mix.respond(phone) {
      font-size: 5rem;
    }
    &-1 {
    }
    &-2 {
      position: absolute;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: rgba(v.$color-secondary-light, 0.8);
      color: rgba(0, 0, 0, 0);
      transform: translate(8rem, -2rem);
      z-index: -0;
      &--grey {
        -webkit-text-stroke-color: rgba(v.$color-grey-dark-4, 0.2);
        z-index: 0;
      }
    }
  }
}
.text-decor-2 {
  &__text {
    font-size: 8rem;
    font-family: v.$decor-font-family;
    font-weight: 500;
    color: inherit;
    font-style: italic;
    z-index: 3;
    line-height: 10rem;
    color: rgba(v.$color-secondary-light, 1);
  }
}

.social-media-title {
  margin: 0;
}
