@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.section-about {
  margin: auto;
  padding: 10rem;

  max-width: 120rem;
  justify-content: center;
}
.section-about__details {
  display: flex;
  gap: 4rem;
  @include mix.respond(tab-port) {
    flex-direction: column;
  }
  &__text {
    flex: 1;
  }
}

.about-photo {
  margin: auto;
  position: relative;
  flex: 1 0 auto;
  width: clamp(20rem, 30%, 30rem);
  min-height: 30rem;
  display: inline-block;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;

  background-image: linear-gradient(
      to right bottom,
      rgba(v.$color-grey-dark-4, 1),
      rgba(v.$color-grey-dark-4, 1)
    ),
    url(../img/Adam-mrotek-face2-small.jpg);
}
.section-skills {
  margin: auto;
  padding: 5rem;
  color: v.$color-grey-dark-4;
  background-color: v.$color-secondary-light;
}

.section-projects {
  padding: 10rem;
  @include mix.respond(phone) {
    padding: 2rem;
    padding-top: 10vh;
  }
}
.section-connect {
  padding: 10rem;
  max-width: 120rem;
  margin: auto;
  @include mix.respond(phone) {
    padding: 10vh 3rem 10vh 3rem;
  }
}
