@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.section-about {
  margin: auto;
  padding: 10rem;
  padding-bottom: 15rem;
  max-width: 120rem;
}
.section-about__details {
  display: flex;
  gap: 4rem;
  &__text {
    flex: 1;
  }
}

.about-photo {
  position: relative;
  flex: 1 0 300px;
  display: inline-block;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-blend-mode: color;

  background-image: linear-gradient(
      to right bottom,
      rgba(v.$color-grey-dark-4, 1),
      rgba(v.$color-grey-dark-4, 1)
    ),
    url(../img/Adam-mrotek-face2-small.jpg);
}
.section-skills {
  margin: auto;
  padding: 10rem;
  color: v.$color-grey-dark-4;
  background-color: v.$color-secondary-light;
}

.section-projects {
  padding: 10rem;
}
