@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as mix;
.header {
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(v.$color-primary-light, 1),
      rgba(v.$color-primary-dark, 1)
    ),
    url(../img/hero-small.jpg);

  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    background-color: v.$color-grey-dark-4;
    color: v.$color-grey-light;
    font-size: 2rem;
    line-height: 2.5rem;
    padding: 1rem;
    &__a {
    }
    &__m {
      margin-left: 3rem;
    }
  }

  &__text-box {
    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-right: 8rem;
    margin-bottom: 8rem;

    @include mix.respond(phone) {
      margin: 4rem;
      left: 0%;
    }
  }

  &__text-decor {
    color: v.$color-secondary-light;
    position: absolute;
    bottom: 0;
    height: 10rem;
    display: inline-block;
    flex: 0 1 150px;
    width: max-content;
    transform: rotate(-90deg) translate(0rem, 20rem);
    transform-origin: top left;
    @include mix.respond(phone) {
      display: none;
      // transform: rotate(-40deg) translate(0rem, 10rem);

      opacity: 0.5;
    }

    &__shape {
      position: absolute;
      display: inline-block;
      background-color: rgba(v.$color-primary-dark, 1);
      height: 40rem;
      width: 40rem;
      top: 20%;
      left: 15rem;
    }
  }
}
